/* .cart-prod {
  height: 2000px;
  width: 800px;
  margin-left: 520px;
  text-align: center;
  border-radius: 16px;
  background-image: url("../images/pro1.png");
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 100px;
}
.add-text {
  width: 70px;
}
.add-text img {
  width: 70px;
} */
